/target
/target
# Xcode
build/
DerivedData/
*.pbxuser
!xcuserdata/
*.mode1v3
*.mode2v3
*.xcworkspace/xcuserdata
*.xcworkspace/xcshareddata/
*.xcodeproj/xcuserdata
*.xcodeproj/xcshareddata/
xcuserdata/
*.xccheckout
*.moved-aside
*.DS_Store
!*.xccheckout
!*.moved-aside
!*.DS_Store
